@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Lalezar&family=Oswald:wght@300&display=swap");
body {
  background-image: url("./stars.jpeg");
}
#app {
  text-align: center;
  color: rgb(255, 213, 0);
  font-family: "Oswald", sans-serif;
}
h1 {
  font-size: 4rem;
  font-family: "Bungee Outline", cursive;
}
h3 {
  color: white;
  font-family: "Oswald", sans-serif;
}
.nav_bar {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.nav_item {
  /* padding: 0 5rem 0 5rem; */
  color: rgb(8, 0, 255);
  font-family: "Lalezar", cursive;
  font-size: 1.5vw;
  /* text-decoration: none; */
  margin: 0 3rem 0 3rem;
}
.nav_item:hover {
  color: rgb(232, 232, 164);
  cursor: pointer;
}
