@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Lalezar&family=Oswald:wght@300&display=swap");
body {
  background-image: url("./stars.jpeg");
}
#app {
  text-align: center;
  color: rgb(255, 213, 0);
  font-family: "Oswald", sans-serif;
}
h1 {
  font-size: 4rem;
  font-family: "Bungee Outline", cursive;
}
h3 {
  color: white;
  font-family: "Oswald", sans-serif;
}
.nav_bar {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}
.nav_item {
  color: rgb(8, 0, 255);
  font-family: "Lalezar", cursive;
  font-size: 1.5vw;
  margin: 0 3rem 0 3rem;
}
.nav_item:hover {
  color: rgb(232, 232, 164);
  cursor: pointer;
}
#form-text::placeholder {
  color: white;
}
#form-text {
  font-size: 1.5rem;
  margin: 0 1.5rem 0 1.5rem;
  background-color: transparent;
  border-radius: 8px;
  padding: 0 0.5rem 0 0.5rem;
  font-family: "Lalezar", cursive;
  color: white;
}
#form-text:hover {
  cursor: pointer;
}
#form-submit {
  font-size: 1.5rem;
  border-radius: 8px;
  background: transparent;
  padding: 0 0.5rem 0 0.5rem;
  color: yellow;
  font-family: "Lalezar", cursive;
  outline: none;
}
#form-submit:hover {
  cursor: text;
  background-color: #ffd81483;
}
#porg {
  height: 45vh;
  margin: 15vh;
}
